{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Lista de personas{% endblock title %}

{% block js %}
        <script src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'functions/js/datatable.js' %}"></script>
{% endblock js %}


{% block content %}
                      <div class="row">
                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-header card-header-primary card-header-icon">
                              <div class="card-icon">
                                <i class="material-icons">assignment</i>
                              </div>
                              <h4 class="card-title">Lista de Personas</h4>
                            </div>
                            <div class="card-body">
                              <div class="toolbar">
                              </div>
                              <div class="material-datatables">
                                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>Nro. documento</th>
                                      <th>Nombres</th>
                                      <th>Apellido Materno</th>
                                      <th>Apellido Paterno</th>
                                      <th>Fecha de nacimiento</th>
                                      <th>Activo</th>
                                    </tr>
                                  </thead>
                                  <tfoot>
                                    <tr>
                                      <th>#</th>
                                      <th>Nro. documento</th>
                                      <th>Nombres</th>
                                      <th>Apellido Materno</th>
                                      <th>Apellido Paterno</th>
                                      <th>Fecha de nacimiento</th>
                                      <th>Activo</th>
                                    </tr>
                                  </tfoot>
                                  <tbody>
                                    {%for persona in personas %}
                                    <tr>
                                      <td>{{persona.id}}</td>
                                      <td>{{persona.number_document}}</td>
                                      <td>{{persona.names}}</td>
                                      <td>{{persona.last_name}}</td>
                                      <td>{{persona.second_last_name}}</td>
                                      <td>{{persona.fecha_nacimiento}}</td>
                                      <td>{{persona.is_active}}</td>
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
{% endblock content %}
