{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Lista de usuarios{% endblock title %}

{% block js %}
        <script src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'functions/js/datatable.js' %}"></script>
{% endblock js %}


{% block content %}
                      <div class="row">
                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-header card-header-primary card-header-icon">
                              <div class="card-icon">
                                <i class="material-icons">assignment</i>
                              </div>
                              <h4 class="card-title">Lista de usuarios</h4>
                            </div>
                            <div class="card-body">
                              <div class="toolbar">
                              </div>
                              <div class="material-datatables">
                                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>Usuario</th>
                                      <th>Correo Electronico</th>
                                      <th>Activo</th>
                                      <th>Fecha de Registro</th>
                                      <th>Ultimo acceso</th>
                                    </tr>
                                  </thead>
                                  <tfoot>
                                    <tr>
                                      <th>#</th>
                                      <th>Usuario</th>
                                      <th>Correo Electronico</th>
                                      <th>Activo</th>
                                      <th>Fecha de Registro</th>
                                      <th>Ultimo acceso</th>
                                    </tr>
                                  </tfoot>
                                  <tbody>
                                    {%for usuario in usuarios %}
                                    <tr>
                                      <td>{{usuario.id}}</td>
                                      <td>{{usuario.username}}</td>
                                      <td>{{usuario.email}}</td>
                                      <td>{{usuario.is_active}}</td>
                                      <td>{{usuario.date_joined}}</td>
                                      <td>{% if usuario.last_login %}{{usuario.last_login}}{% endif %}</td>
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
{% endblock content %}
